*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100dvh;
    background: #1c1c1c;
    display: grid;
    align-items: center;
}

main .container {
    max-width: 550px;
    margin: 0 auto;
    background-color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container .controls {
    box-shadow: 0 5px 20px -15px #000;
    z-index: 10;
}

.container .controls .color-form{
    background: #FFFFFF;
    padding: 1.56em 0.875em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    row-gap: 1em;
    flex-wrap: wrap;
}

.controls .color-form > * {
    box-shadow: 0 1px 3px -2px rgba(0, 0, 0, 0.5);
    height: 42px;
}

.color-input {
    border: 2px solid #D1D5DB;
    cursor: pointer;
    width: 61px;
}

/* default browser styles */
.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: 0.5px solid #313131;
}

/* Firefox */
.color-input::-moz-color-swatch {
  border: 0.5px solid #313131;
}

.color-mode-input {
    flex: 1;
    background-color: transparent;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    padding: 0.5625em 0.8125em;
    line-height: 1.5;
    cursor: pointer;
    font-size: 0.75rem;
}

.get-color-btn {
    border: 1px solid #D1D5DB;
    background-color: #FFFFFF;
    padding: 0.8125em 0.6875em;
    border-radius: 6px;
    color: #374151;
    font-size: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    margin-left: auto;
}

.get-color-btn:hover {
    transform: scale(1.01);
}

/* colors */
.colors {
    display: flex;
    align-items: stretch;
    height: 100%;
    flex: 1;
}

.color {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    max-width: 150px;
    margin: 0 auto;
}

.message {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #FFFFFF, #313131, #FFFFFF);
    color: #FFFFFF;
    font-weight: 500;
}

.color .swatch {
    cursor: pointer;
    flex: 1;
    box-shadow: 0 0 5px -2px #FFFFFF, 0 0 5px -2px #000000;
}

.color .color-label {
    background-color: #FFFFFF;
    color: #2B283A;
    font-weight: 500;
    padding: 0.6875em 0;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    height: fit-content;
}

.color .tooltip,
.color i {
    position: absolute;
}

.color i {
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 0.75rem;
    padding: .5em;
    text-align: right;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s ease;
}

.color .swatch:hover i{
    opacity: 1;
}

.color i:after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    height: 50px;
    z-index: -10;
}

.color .tooltip {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    background-color: #313131;
    padding: 2px 4px;
    line-height: 1.5;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 0.75rem;
    box-shadow: 0 0 0 .2px #FFFFFF;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
}

.color .tooltip.show {
    opacity: 1;
}

.color .tooltip::after {
    content: "";
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #313131;
    bottom: calc(-10px * 2);
    left: 50%;
    transform: translateX(-50%);
}

.color .tooltip::before {
    content: "";
    display: block;
    position: absolute;
    border: 10.2px solid transparent;
    border-top-color: #FFFFFF;
    bottom: calc(-10.2px * 2);
    left: 50%;
    transform: translateX(-50%);
}
